
body {
    font-family: 'Inter', sans-serif;
    background: #D8DFE8;
    width: 940px;
    
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.texto{
    position: absolute;
    width: 540px;
    height: 500px;
    margin: 110px 220px;
    

}

.texto textarea{
    border: 0;
    background: #D8DFE8;
    font-size: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    color: #0A3871;
    
}


.texto textarea:focus{
    outline: none;
}

.aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 631px
}

.aviso p{
    width: 205px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

    flex: none;
    order: 1;
    flex-grow: 0;
}


.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 661px;
}

.botones input{
    
    display: inline-block;
}

.btn-encriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    gap: 8px;
    color: white;
    width: 250px;
    height: 47px;    
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    
    flex: none;
    order: 0;
    flex-grow: 0; 

}

.btn-encriptar:hover{
    background: #011f44;
}

.btn-desencriptar{

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    gap: 8px;
    color: #0A3871;
    width: 250px;
    height: 47px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn-desencriptar:hover{
    border: 1px solid #b9741a;
    color: #b9741a;
}

.caja{
    width: 350px;
    height: 694px;
    margin: 40px 40px 40px 900px;    
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.caja textarea{
    display: none;
    position: absolute;
    border: 0px;
    width: 306px;
    height: 481px;
    left: 930px;
    top: 112px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;  
    color: #495057;
}
::placeholder {
    color: #0A3871;
}
.caja textarea:focus{
    outline: none;
}

.caja input{
    box-sizing: border-box;

    display: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 230px;
    height: 37px;
    left: 976px;
    top: 661px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    justify-content: center;
    
}

.btn-copiar{
    
    width: 288px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    cursor: pointer;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.btn-copiar:hover{
    border: 1px solid #b9741a;
    color: #b9741a;
}

.mu単eco{
    position: absolute;
    width: 268px;
    height: 254px;
    left: 952px;
    top: 253px;
}

.caja-titulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 256px;
    height: 122px;
    left: 960px;
    top: 500px;                                                                         
}

.titulo-grande{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;    
    text-align: center;
    color: #343A40;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.titulo-peque単o{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.copyright{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 13px;
}

.error {
    background-color: red;    
    padding: 1rem;    
    font-size: 12px;    
    margin: 1rem auto 0;
    color: white;   
    text-align: center; 
    text-transform: uppercase;
    font-weight: bold;    
    border-radius: 0.5rem;
    
  }
 
.formu{
    position: sticky;
    width: 580px;
    height: 57px;
    left: 240px;
    top: 561px;
}

@media (min-width: 320px) and (max-width:480px) {
    body{
        position: relative;
        width: auto;
        height: 933px;
        background: #F3F5FC;
    }
    
    .logo{
        position: absolute;
        width: 175px;
        height: 56px;
        left: 0px;
        top: 20px;
    }
   
    .texto textarea{
        position: absolute;
        margin-left: -100px;
        width: 480px;
        height: 400px;
        left: 16px;
        top: 70px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        background: #F3F5FC;        
    }

    .aviso{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;

        position: absolute;
        width: 229px;
        height: 18px;
        left: 130px;
        top: 640px;

    }

    

    .botones{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        position: absolute;
        width: 480px;
        height: 158px;
        left: 140px;
        top: 677px;
    }

    .btn-encriptar{
        width: 480px;
        height: 77px;
        font-size: 24px;
    }

    .btn-desencriptar{
        width: 480px;
        height: 77px;
        font-size: 24px;
    }

    img{
        display: none;
    }

    .caja{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;

        position: absolute;
        margin-left: 0;
        width: 420px;
        height: 416px;
        left: 140px;
        top: 837px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;                                                         
    }
    
    .caja textarea{
        display: none;
        position: static;
        width: 399px;
        height: 345px;
        
    }
    .caja input{
        position: absolute;
        font-size: 16px;
        width: 279px;
        height: 97;
        left: 97px;
        top: 417px; 
    }    

    .caja-titulo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;

        position: relative;
        width: 480px;
        height: 86px;
        left: 120px;
        top: 827px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    .titulo-grande{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
    }

    .titulo-peque単o{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #495057; 
    }

    .copyright{
        position: absolute;
        top: 1380px;

    }

    .formu{
        position: relative;
        width: 380px;
        height: 57px;
        left: 190px;
        top: 561px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
  
    body{
        width: 768px;
        height: 1174px;
        background: #F3F5FC;
    }

    .logo{
        position: absolute;
        width: 81.09px;
        height: 40.58px;
        left: 16px;
        top: 33.42px;
    }   
    
    .texto textarea{
        position: absolute;
        margin-left: -210px;
        width: 678px;
        height: 368px;
        left: 35px;
        top: 40px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        background: #F3F5FC;
    
    }

    .aviso{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
        
        position: absolute;
        width: 229px;
        height: 18px;
        left: 40px;
        top: 536px;  
    }

    .botones{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        position: absolute;
        width: 588px;
        height: 67px;
        left: 40px;
        top: 570px;
    }

    .btn-encriptar{
        width: 332px;
        height: 57px;

    }

    .btn-desencriptar{
        width: 332px;
        height: 57px;
    }

    img{
        display: none;
    }

    .caja{
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;

        position: absolute;
        width: 659px;
        height: 243px;
        margin-left: 0;
        left: 20px;
        top: 622px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    .caja textarea{
        position: static;
        width: 665px;
        height: 180px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;      
        color: #495057;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .caja input{

        position: absolute;        
        width: 669px;
        height: 57px;
        left: 26px;
        top: 235px;
        
    }

    .caja-titulo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;

        position: relative;
        width: 659px;
        height:133px;
        left: 20px;
        top: 622px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    .titulo-grande{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
    }

    .titulo-peque単o{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #495057;
    }

    .copyright{
        position: absolute;
        top: 1174px;

    }

    .formu{
        position: relative;
        text-align: center;
        width: 480px;
        height: 57px;
        left: 150px;
        top: 445px;
    }

}